---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Mentions légales";
const pageDescription = "Mentions légales de nicomil.dev";
const pageTitleOG = "Mentions légales | nicomil.dev";
const OGType = "article";
---

<Layout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageTitleOG={pageTitleOG}
  OGType={OGType}
>
  <main class="max-w-6xl m-auto px-4 text-white py-10 md:py-16">
    <h1
      class="font-title font-bold tracking-wider text-4xl md:text-6xl text-neutral-100 mb-6 md:mb-12"
    >
      {pageTitle}
    </h1>

    <div class="mb-8">
        <section class="py-2 md:py-6">
            <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-4 md:mb-8">Informations éditeur</h2>
            
            <div class="font-text text-neutral-400 max-w-4xl leading-relaxed">
                <p class="my-4">Nom : <span class="font-bold">Nicolas Milhem</span></p>
                <p class="my-4">Contact : <a class="hover:text-neutral-200 transition-colors duration-300 font-bold underline" href="/#contact">Se rendre à la page Contact</a></p>
            </div>
        </section>

        <section class="py-2 md:py-6">
            <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-4 md:mb-8">Propriété intellectuelle</h2>
            
            <div class="font-text text-neutral-400 max-w-4xl leading-relaxed">
                <p class="my-4">L'ensemble du contenu de ce portfolio (textes, images, projets, codes) est la propriété exclusive de Nicolas Milhem (en dehors des logos représentant les technologies ou les réseaux sociaux).</p>
                <p class="my-4">Toute reproduction, même partielle, est interdite sans autorisation préalable.</p>
            </div>
        </section>

        <section class="py-2 md:py-6">
            <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-4 md:mb-8">Données personnelles</h2>

            <div class="max-w-4xl mb-6 leading-relaxed">
                <h3 class="text-xl md:text-2xl font-title font-medium text-neutral-100 tracking-wide mb-2 md:mb-4">Collecte de données</h3>
                <p class="font-text text-neutral-400 my-4">Ce site ne collecte pas de données personnelles permanentes.</p>
            </div>
            <div class="max-w-4xl leading-relaxed">
                <h3 class="text-xl md:text-2xl font-title font-medium text-neutral-100 tracking-wide mb-2 md:mb-4">Cookies</h3>
                <p class="font-text text-neutral-400 my-4">Aucun cookie n'est utilisé sur ce portfolio.</p>
            </div>
            
        </section>

        <section class="py-2 md:py-6">
            <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-4 md:mb-8">Responsabilité</h2>

            <div class="font-text text-neutral-400 max-w-4xl leading-relaxed">
                <p class="my-4">Les informations présentées sont à titre informatif et n'engagent pas ma responsabilité professionnelle.</p>
                <p class="my-4">Les projets et compétences sont issus de mon expérience personnelle.</p>
            </div>
            
        </section>

        <section class="py-2 md:py-6">
            <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-4 md:mb-8">Hébergement</h2>

            <div class="font-text text-neutral-400 max-w-4xl leading-relaxed">
                <p class="my-4">Vercel Inc.</p>
                <p class="my-4">Siège social : 440 N Barranca Ave #4133, Covina, CA 91723, États-Unis</p>
            </div>
            
        </section>

        <section class="py-2 md:py-6">
            <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-4 md:mb-8">Mentions techniques</h2>

            <div class="font-text text-neutral-400 max-w-4xl leading-relaxed">
                <p class="my-4">Technologies utilisées : Astro JS - Tailwind CSS - EmailJS</p>
                <p class="my-4">Dernière mise à jour : 04/02/2025</p>
            </div>
            
        </section>
    </div>

    <a
      class="rounded-full text-sm px-3 py-2 md:px-5 md:py-2.5 text-center tracking-wider font-semibold text-neutral-900 border-2 border-sky-300 bg-sky-300 hover:bg-sky-400 hover:border-sky-400 transition-colors duration-300 inline-flex items-center gap-2"
      href="/"
      ><svg
        class="h-6 w-6 text-neutral-900"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <line x1="5" y1="12" x2="9" y2="16"></line>
        <line x1="5" y1="12" x2="9" y2="8"></line></svg
      >Retour à l'accueil
    </a
    >
  </main>
</Layout>
